<form method="post" action="/api/auth/login" class="auth_form mg-auto-h width-35">

    <h2 class="h2-bold">Login</h2>
    <p class="para">Welcome back, we missed you</p>
    <div class="form--input-box">
        <input type="email" name="email" class="form--input-box-input" placeholder="email"/>
    </div>
    <div class="form--input-box">
        <input type="text" name="password"  class="form--input-box-input" placeholder="password"/>

    </div>
    <button class="btn btn-success">Submit</button>

</form>