<form method="post" action="/api/auth/register" class="auth_form mg-auto-h width-35">

    <h2 class="h2-bold">Register</h2>
    <p class="para">Create account to begin posting</p>

    <div class="form--input-box">
        <input type="text" class="form--input-box-input" name="username" placeholder="username"/>
    </div>
    <div class="form--input-box">
        <input type="text" class="form--input-box-input" name="email" placeholder="email"/>
    </div>
    <div class="form--input-box">
        <input type="text" class="form--input-box-input" name="password" placeholder="password"/>
    </div>
    <div class="form--input-box-checkbox">
        <input type="checkbox" id="checkbox" class="form--input-box-input" name="terms"  placeholder="You agree to our terms"/>
        <label for="checkbox">I agree with our terms</label>
    </div>
    <button class="btn btn-success">Submit</button>

</form>