.navigation{
  background-color: white;
  box-shadow: 0 2px 15px rgba(0,0,0,.2);
  display: flex;
  justify-content: center;
  align-items: center;
  .nav--list{
    list-style: none;
    padding: 1.5rem;
    display: flex;
    &-item{
      margin: .5rem 1.5rem;
      &-link{
         font-size: $para;
        //font-weight: bold;
        color: #424242;
        text-decoration: none;
        &:hover{
          color: #3697ec;
          cursor: pointer;
        }
      }
    }
  }
}


.admin-nav{
  background-color: white;
  //box-shadow: 0 2px 15px rgba(0,0,0,.2);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
  align-items: center;
  padding: 1rem 5rem;
  .top-tools-section{
    display: flex;
    flex: .45;
    justify-content: space-evenly;
    align-items: center;
    .top-tools{
   list-style: none;
      display: flex;
     &-item{
       position: relative;
       .alert-circle{
         position: absolute;
         top: -.2rem;
         right: -.2rem;
         padding: .5rem;
         width: 1rem;
         height: 1rem;
         background-color: #f8276a;
         border-radius: 20rem;
       }
       &:not(:first-child){
         margin-left: 1.5rem;
       }
       a{
         .far{
           font-size: 1.45rem;
           &:hover{
             color: #54c367;
           }
         }
       }
     }
    }
    .search-form{
      flex: .5;
      border-radius: 200rem;
      .search-box{
        padding: .2rem;
        background-color: #f7f7f7;
        border-radius: 200rem;
        display: flex;
        input{
          border-radius: 200rem;
          border: none;
          padding:1.25rem 1.45rem ;
          background-color: inherit;
          flex: 1;

        }
        .far{
          margin-right: .5rem;
        }
      }
    }
  }
}
.admin-body{
  display: flex;
  .side-bar{
    flex: .06;
    //background-color: #f7f7f7;
    min-height: 100vh;
    padding: 2rem;
    &-list{
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      &-item{

          margin: 2rem 0;

        &-link{
          text-decoration: none;
          font-size: 1.45rem;
          align-items: center;
          color: #424242;
          span{
            width: 3rem;
            height: 3rem;
            padding: 1rem;
            border-radius: 200rem;
            text-align: center;
            animation: op-out .5s ease-out;
            //transition:  all .35s;
            &:hover{
              box-shadow: 0 1px 20px rgba(0,0,0,.05) inset;
              background-color: white;
              border: 1px solid #eeeeee;
            }
            .far{
              font-size: 1.65rem;
            }
          }
        }

      }
    }
  }
  .side-bar-list-item span:hover > .far{
    color: #36ec54;
  }
  .main-section{
    padding: 2rem;
    //background-color: #f8fff7;
    background-color: #fafafa;
    flex: 1;
  }
}