@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");
.logo {
  font-size: 1.6rem;
  color: #3697ec; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 56.5em) {
    html {
      font-size: 70%; } }
  @media screen and (max-width: 75em) {
    html {
      font-size: 75%; } }
  @media screen and (min-width: 112.5em) {
    html {
      font-size: 80%; } }

.h2-bold {
  font-size: 1.45rem;
  font-weight: bold; }

.para {
  font-size: 1.45rem;
  padding: 1rem 0; }

.width-100 {
  width: 100%; }

.width-50 {
  width: 50%; }

.width-35 {
  width: 35%; }

.mg-auto-h {
  margin: 2rem auto; }

@keyframes op-out {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.auth_form {
  padding: 1rem; }
  .auth_form .form--input-box {
    padding: 1.5rem 1.2rem;
    background-color: #f7f7f7;
    border-radius: 1.5rem;
    font-size: 1.45rem; }
    .auth_form .form--input-box:not(:last-child) {
      margin: 1.5rem 0; }
    .auth_form .form--input-box-input {
      border: none;
      width: 100%;
      background-color: inherit; }
  .auth_form .form--input-box-checkbox {
    display: flex;
    justify-content: flex-start; }
    .auth_form .form--input-box-checkbox input {
      display: inline-block;
      background-color: red; }

.form--input-box {
  padding: 1.5rem 1.2rem;
  background-color: #f7f7f7;
  border-radius: 1.5rem;
  font-size: 1.45rem; }
  .form--input-box:not(:last-child) {
    margin: 1.5rem 0; }
  .form--input-box-input {
    border: none;
    width: 100%;
    background-color: inherit; }
  .form--input-box-textarea {
    border: none;
    width: 100%;
    height: 15rem;
    resize: none;
    background-color: inherit; }

.form--input-box-checkbox {
  display: flex;
  padding: 1.45rem 0;
  align-items: center; }
  .form--input-box-checkbox input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden; }
  .form--input-box-checkbox label {
    display: block;
    font-size: 1.45rem;
    margin-left: 1.5rem; }

.table-holder {
  padding: 1rem;
  background-color: #f7f7f7;
  display: inline-block; }

.table thead {
  border: 1px solid #eeeeee;
  background-color: #93c1e9;
  border-radius: 1rem; }
  .table thead tr th {
    padding: 1.45rem;
    text-transform: capitalize; }

.table tbody {
  border: 1px solid #eeeeee;
  background-color: #ffffff; }
  .table tbody tr td {
    padding: 1.45rem; }

.form-options-btn {
  display: flex;
  justify-content: space-between; }
  .form-options-btn :first-child {
    margin-right: 1rem; }

.table-img {
  width: 10rem; }

.navigation {
  background-color: white;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center; }
  .navigation .nav--list {
    list-style: none;
    padding: 1.5rem;
    display: flex; }
    .navigation .nav--list-item {
      margin: .5rem 1.5rem; }
      .navigation .nav--list-item-link {
        font-size: 1.45rem;
        color: #424242;
        text-decoration: none; }
        .navigation .nav--list-item-link:hover {
          color: #3697ec;
          cursor: pointer; }

.admin-nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
  align-items: center;
  padding: 1rem 5rem; }
  .admin-nav .top-tools-section {
    display: flex;
    flex: .45;
    justify-content: space-evenly;
    align-items: center; }
    .admin-nav .top-tools-section .top-tools {
      list-style: none;
      display: flex; }
      .admin-nav .top-tools-section .top-tools-item {
        position: relative; }
        .admin-nav .top-tools-section .top-tools-item .alert-circle {
          position: absolute;
          top: -.2rem;
          right: -.2rem;
          padding: .5rem;
          width: 1rem;
          height: 1rem;
          background-color: #f8276a;
          border-radius: 20rem; }
        .admin-nav .top-tools-section .top-tools-item:not(:first-child) {
          margin-left: 1.5rem; }
        .admin-nav .top-tools-section .top-tools-item a .far {
          font-size: 1.45rem; }
          .admin-nav .top-tools-section .top-tools-item a .far:hover {
            color: #54c367; }
    .admin-nav .top-tools-section .search-form {
      flex: .5;
      border-radius: 200rem; }
      .admin-nav .top-tools-section .search-form .search-box {
        padding: .2rem;
        background-color: #f7f7f7;
        border-radius: 200rem;
        display: flex; }
        .admin-nav .top-tools-section .search-form .search-box input {
          border-radius: 200rem;
          border: none;
          padding: 1.25rem 1.45rem;
          background-color: inherit;
          flex: 1; }
        .admin-nav .top-tools-section .search-form .search-box .far {
          margin-right: .5rem; }

.admin-body {
  display: flex; }
  .admin-body .side-bar {
    flex: .06;
    min-height: 100vh;
    padding: 2rem; }
    .admin-body .side-bar-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .admin-body .side-bar-list-item {
        margin: 2rem 0; }
        .admin-body .side-bar-list-item-link {
          text-decoration: none;
          font-size: 1.45rem;
          align-items: center;
          color: #424242; }
          .admin-body .side-bar-list-item-link span {
            width: 3rem;
            height: 3rem;
            padding: 1rem;
            border-radius: 200rem;
            text-align: center;
            animation: op-out .5s ease-out; }
            .admin-body .side-bar-list-item-link span:hover {
              box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05) inset;
              background-color: white;
              border: 1px solid #eeeeee; }
            .admin-body .side-bar-list-item-link span .far {
              font-size: 1.65rem; }
  .admin-body .side-bar-list-item span:hover > .far {
    color: #36ec54; }
  .admin-body .main-section {
    padding: 2rem;
    background-color: #fafafa;
    flex: 1; }

.btn, .btn:link {
  border: none;
  padding: 1.2rem 1.5rem;
  border-radius: 200rem;
  display: inline-block;
  transition: all 0.35s ease-out;
  font-size: 1.45rem; }

.btn-success {
  background-color: #4da4c6;
  color: white; }
  .btn-success:hover {
    background-color: #3697ec;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1); }

.btn-green {
  background-color: #36ec54;
  color: white; }
  .btn-green:hover {
    background-color: #14a72d;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1); }

.btn-red {
  background-color: #faa7c0;
  color: #d90a43; }
  .btn-red:hover {
    background-color: #ef7194;
    color: white;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1); }

.btn-sm, .btn-sm:link {
  border: none;
  padding: .8rem 1.1rem;
  border-radius: 200rem;
  display: inline-block;
  transition: all 0.35s ease-out;
  font-size: 1.25rem; }

.btn-sm-success {
  background-color: #318de0;
  color: white; }
  .btn-sm-success:hover {
    background-color: #1e68ab;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1); }

.btn-sm-green {
  background-color: #36ec54;
  color: white; }
  .btn-sm-green:hover {
    background-color: #14a72d;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1); }

.btn-sm-red {
  background-color: #faa7c0;
  color: #d90a43; }
  .btn-sm-red:hover {
    background-color: #ef7194;
    color: white;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1); }

.search-btn {
  border: none;
  background-color: transparent;
  font-size: 1.45rem; }
