<form  method="post" action="/admin/posts/edit/{{_id}}" class=" form width-35" enctype="multipart/form-data">

    <h2 class="h2-bold">Create NEW Post</h2>
    <div class="form--input-box">
        <input type="text" class="form--input-box-input" name="username" placeholder="username"/>
    </div>
    <div class="form--input-box">
        <input type="file" class="form--input-box-input" name="file" placeholder="username"/>
    </div>

    <div class="form--input-box">
        <textarea class="form--input-box-textarea" placeholder="description"></textarea>
    </div>
    <div class="form--input-box-checkbox">
        <input type="checkbox" id="checkbox" class="form--input-box-input" name="terms"  placeholder="You agree to our terms"/>
        <label for="checkbox">Allow Comments</label>
    </div>
    <button class="btn btn-success">Create Post</button>

</form>