$padding: 1.5rem;
$margin: 1.2rem;

$backgroundColor: #ffffff;
$succes-color: #36ec54;
$succesHover-color: #3697ec;
$dur: .35s;

$major-font-size: 2.5rem;
$subH-font-size: 2rem;

$para:1.45rem;

.logo{
  font-size: 1.6rem;
  color: #3697ec;
}